@use "sass:color";
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.form {
    background: $bg-color;
    padding: $spacing-lg;
    border-radius: $radius-xs;
    margin-bottom: $spacing-sm;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 12px 32px rgba(0, 0, 0, 0.18);
    }


    @include tablet-screen {
        padding: $spacing-lg * 2;
        border-radius: $radius-xs;
        margin-bottom: $spacing-lg;
    } 

    &__input {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: $spacing-sm;
        margin-bottom: $spacing-md;
        border: 2px solid $border-color;
        border-radius: $radius-xs;
        font-size: $font-size-sm;
        color: $primary-color;
    

        @include tablet-screen {
            padding: $spacing-md;
            border-radius: $radius-sm;
            margin-bottom: $spacing-md;
            font-size: $font-size-md;
        }

        &::placeholder {
            color: color.adjust(#3b3a3a, $lightness: 40%);
        }

        &::focus {
            outline: none;
            border-color: $button-color;
        }
    }

    &__button {
        @include button($button-color);
        width: max-content;
        
        
    }
}

